4.0BHGBCKWCS/Wcs/ServiceR/WebServiceDemo/WMSService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ApplyWMSTask">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="inParams" type="tns:WMSInParams" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="WMSInParams">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ReqType" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ReqId" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="TaskId" nillable="true" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="PilerNo" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ProductCode" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Count" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ToStation" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="FromStation" nillable="true" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="ApplyWMSTaskResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ApplyWMSTaskResult" type="tns:ResultMsg" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ResultMsg">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Status" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ReqId" type="s:long" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ApplyWMSTaskSoapIn">
    <wsdl:part name="parameters" element="tns:ApplyWMSTask" />
  </wsdl:message>
  <wsdl:message name="ApplyWMSTaskSoapOut">
    <wsdl:part name="parameters" element="tns:ApplyWMSTaskResponse" />
  </wsdl:message>
  <wsdl:portType name="WMSServiceSoap">
    <wsdl:operation name="ApplyWMSTask">
      <wsdl:input message="tns:ApplyWMSTaskSoapIn" />
      <wsdl:output message="tns:ApplyWMSTaskSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WMSServiceSoap" type="tns:WMSServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ApplyWMSTask">
      <soap:operation soapAction="http://tempuri.org/ApplyWMSTask" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WMSServiceSoap12" type="tns:WMSServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ApplyWMSTask">
      <soap12:operation soapAction="http://tempuri.org/ApplyWMSTask" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WMSService">
    <wsdl:port name="WMSServiceSoap" binding="tns:WMSServiceSoap">
      <soap:address location="http://10.30.3.118:8012/WMSService.asmx" />
    </wsdl:port>
    <wsdl:port name="WMSServiceSoap12" binding="tns:WMSServiceSoap12">
      <soap12:address location="http://10.30.3.118:8012/WMSService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>